* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* header section style start */
h1 {
    font-size: 50px;
}

.header {
    background: url(images/top-banner.jpg);
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    font-weight: 700;
    color: white;
}

.header p {
    background-color: rgba(107, 27, 27, 0.575);
    display: inline-block;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 10px;
}

/* header section style start */
.donation {
    margin-top: 100px;
    text-align: center;
}

.amount {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}


.amount-tk {
    background-color: rgba(255, 160, 176, 0.171);
    font-size: 20px;
    padding: 30px;
    margin-left: 25px;
}

#doneted {
    border: 2px rgb(255, 0, 43) solid;
    color: rgb(255, 0, 43);
    background-color: rgba(196, 95, 112, 0.459);
    border-radius: 5px;
}

.submit {
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;

}

.submit input {
    width: 700px;
    text-align: center;
    padding: 30px 20px;
    border: none;
    border-bottom: 2px solid grey;
}

.donate-plan {
    display: flex;
    justify-content: center;



}

.plan {
    width: 20%;
    background-color: rgba(255, 160, 176, 0.171);
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

#education {
    background-color: burlywood;
}

.plan p {
    text-align: justify;
}

.plan img {
    margin-right: 350px;

}

.flexible-container {
    display: flex;
    margin-top: 100px;


}

.half-width {
    width: 50%;


}

.half-width img {
    width: 70%;
    padding-top: 5%;
    margin-right: 30px;
}

.unique {
    padding-left: 5%;
}

.updates {
    margin-top: 100px;
    text-align: center;
}

.mail {
    display: flex;
    padding: 70px 175px;
    background-color: rgba(42, 68, 211, 0.158);
    margin: 50px 220px;
    border-radius: 20px;

}

.mail input {
    width: 400px;
    padding: 15px 20px;
    border: none;
    border-bottom: 2px solid grey;
    background-color: rgba(128, 128, 128, 0.26);
    border-radius: 5px;
}

.subscribe-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(109, 157, 230), rgb(8, 169, 243));
    padding: 15px 20px;
    margin-left: 2px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
    margin-top: 50px;
}

footer h2 {
    font-family: 'Lobster', cursive;
    color: orange;
}